<div class="footer">
<div class="row">
	<div class="col-sm-8">
	<p><small></small></p>
	</div>
	<div class="col-sm-8" role="navigation">
	
		{%- if site.facebook_username -%}
          <li>
            <a target="_blank" href="https://www.facebook.com/{{ Mohammadanamul.haque.908| cgi_escape | escape }}" class="button button--sacnite button--round-l">
              <i class="fa fa-facebook" title="Facebook link"></i>
            </a>
          </li>
        {%- endif -%}
		
	</div>
	</div>
</div> <!-- /footer -->



