<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:enamsust@yahoo.com">enamsust@yahoo.com</a></li>
				<li><a href="https://www.researchgate.net/profile/Mohammad_Anamul_Haque">Researchgate</a></li>
	        		<li><a href="https://haquemdanamul.github.io/cpct/">GitHub</a></li>
				<li><a href="https://linkedin.com/in/mohammad-anamul-haque-40541060">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
